<h2>Crear Flag</h2>

<div *ngIf="errorMsg" class="alert alert-danger">
  {{ errorMsg }}
</div>

<form (ngSubmit)="createFlag()">
  <div class="mb-3">
    <label>Nombre del Flag</label>
    <input
      type="text"
      [(ngModel)]="flagForm.flag"
      name="flag"
      class="form-control"
      required
    />
  </div>

  <button type="submit" class="btn btn-primary">Guardar</button>
  <button type="button" class="btn btn-secondary" [routerLink]="['/flags']">
    Cancelar
  </button>
</form>
